VITE_SUPABASE_URL=https://xndxlybcvtpfizpwblhb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhuZHhseWJjdnRwZml6cHdibGhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3MjU3NzIsImV4cCI6MjA5NDMwMTc3Mn0.TTJj4mlMyfNu5-2M-fx3n9dEohaHma_PCJcRJ4yirO8
VITE_SITE_URL=https://tarot-website-gkph.onrender.com